<!DOCTYPE html>
<html lang="">
  <head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/typography.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/buttons.css">
    <title>About Petshome</title>
  </head>
  <body>
    <header>
      <%- include('partials/header') %>
    </header>
    <main>
      <div class="info">
        <div class="section about">
          <h1 class="color-dark-blue">Petshome</h1>
          <hr class="color-medium-blue">
          <p class="color-333 margin-bottom-1em">Petshome es una veterinaria comprometida con la salud y el bienestar de tus mascotas. Nuestro equipo de profesionales altamente capacitados está dedicado a brindar atención veterinaria de calidad, cariño y respeto a cada animal que visita nuestras instalaciones.</p>
          <p class="color-333 margin-bottom-1em">En Petshome, entendemos que las mascotas son parte de tu familia, por lo que nos esforzamos por proporcionar un ambiente cálido y acogedor donde tanto tú como tu mascota se sientan cómodos. Ya sea que necesites servicios de rutina como vacunaciones y chequeos de salud, o atención especializada para problemas médicos, quirúrgicos o dentales, puedes confiar en nosotros para brindar un cuidado completo y compasivo.</p>
          <p class="color-333">Nuestra misión es mejorar la calidad de vida de las mascotas y fortalecer los lazos entre las personas y sus queridos compañeros peludos. En Petshome, tu mascota siempre será tratada con amor y profesionalismo. ¡Ven a conocernos y descubre por qué somos la elección confiable para el cuidado de tus mascotas!</p>
        </div>
        <div class="section Contacto">
          <h1 class="color-dark-blue">Contacto</h1>
          <hr class="color-medium-blue">
          <p class="color-333"><b>Telefono:</b> +56 9 3652 7169</p>
          <p class="color-333"><b>Correo:</b> administracion@petshome.cl</p>
        </div>
        <div class="section Direccion">
          <h1 class="color-dark-blue">Direccion</h1>
          <hr class="color-medium-blue">
          <p class="color-333">Alpatacal 0358, Santiago, Colina</p>
        </div>
      </div>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>
  </body>
</html>
